@import url(http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300italic,300,400italic,700,700italic,900,900italic|Lobster);

* {
	margin: 0;
}
html, body {
	height: 100%;
}
body {
	font-family: "Lato";
}
h1, h2, h3, h4, h5, p, a, label, input {
	font-family: 'Lato';
	font-weight: 300;
}
a {
	color: #F23818;
}
a:hover {
	color: #CC280B;
}

/* -------------------- Index Page -------------------- */

/* Index Main Theme */
.main {
	background-color: #444;
	color: #bebebe;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.orange {
	color: #F23818!important;
}
.navbar {
	border-radius: 0;
}
.title {
	font-size: 5em;
	font-weight: 900;
}
.action-btn {
	margin-top: 50px;
	padding: 10px 20px;
}

/* Footer */
footer {
	text-align: center;
	padding: 2%;
	background-color: #333;
	color: #eee;
	height: 130px;
	max-height: 130px;
}
/* -------------------- Home Page -------------------- */

/* Home - Navigation */
.navbar {
	background-color: #333;
}
.navbar-default {
	border: 1px solid transparent;
}
.navbar-default .navbar-brand {
	font-family: 'Lobster';
	color: #F23818;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #eee;
}
.btn-primary {
    background-color: #F23818;
    border-color: #F23818;
}
.btn-primary:hover {
	background-color: #CC280B;
    border-color: #CC280B;
}

/* Home - Intro */
.logo {
	font-family: 'Lobster';
	color: #F23818;
	font-size: 7em;
	text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}
@media screen and (max-width: 450px) {
	.logo {
		font-size: 5em;
	}
}
.intro {
	min-height: 550px;
	padding: 5% 3%;
}
.logo {
	text-shadow: 0px -1px 0px rgba(255,255,255,.3), 0px 1px 0px rgba(0,0,0,.7);
}
.intro h1 {
	margin-bottom: 3%;
}
.intro .btn {
	padding: 1% 2%;
	font-size: 1.5em;
}
.line {
	width: 50%;
	margin: 1% auto;
	border-top: 1px solid #333;
	border-bottom: 1px solid #666;
}

/* Home - Features */
#features {
	background-color: #eee;
	color: #444;
	padding: 8% 5%;
}

/* Home - Learn More */
#learn {
	padding: 5%;
}
#learn .col-sm-6 {
	padding: 1% 5% 3% 5%;
	min-height: 300px;
}
.macbook {
	margin: 0 auto;
}

/* Home - Testimonials */
#about {
	background-color: #444;
	padding: 5%;
}

/* -------------------- Sign Up Page -------------------- */
.signup {
	padding: 5% 0;
}
/* Sign Up - Forms */
.form-control {
	background-color: #444;
	border-radius: 0;
	border-style: solid;
	border-color: #666;
	border-width: 0 0 1px 0;
	box-shadow: none;
}
.form-control:focus {
	border-color: none none #66afe9 none;
	box-shadow: none;
}

/* -------------------- Guide Page -------------------- */
.guide {
	padding: 5%;
}

/* -------------------- Video Page -------------------- */
.video {
	padding: 5%;
}
.video-player {
	min-height: 300px;
	margin: 3%;
	background-color: #666;
}

/* -------------------- Quiz Page -------------------- */
.quiz {
	padding: 5%;
}
.yes, .no {
	padding: 1% 3%;
	margin: 1%;
	width: 200px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
.yes {
	background-color: #333;
}
.no {
	background-color: #eee;
}

/* -------------------- Thank You Page -------------------- */

.thanks {
	padding: 5% 5% 10%;
}

