<div class="full-height" ng-init="init()">
	
	<!-- Navigation -->
	<nav class='navbar navbar-default' role='navigation'>
		<div class='navbar-inner'>
			<div class='container'>
				<div class="navbar-header">
					<a class='navbar-brand' ui-sref='home'>
						StickMan Vocab
					</a>
				</div>
				<ul class='nav navbar-nav navbar-right'>
					<li><a class="yellow" href='#/home'>Back</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Content -->
	<form method="post" name="quizAnswerForm" class="form-horizontal" ng-submit="nextQuiz()" novalidate>
	<div class="text-center quiz container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="quiz-counter">{{quizNum}} out of {{watches.length}}</div>
				<div class="card">
					<div class="quiz-content">
						<div class="quiz-question">{{Question}}</div>
						<div class="quiz-answers">
							<div><input type="radio" ng-model="chosen" value="A">{{choiceA}}</div>
							<div><input type="radio" ng-model="chosen" value="B">{{choiceB}}</div>
							<div><input type="radio" ng-model="chosen" value="C">{{choiceC}}</div>
							<div><input type="radio" ng-model="chosen" value="D">{{choiceD}}</div>
							<div><input type="radio" ng-model="chosen" value="E">{{choiceE}}</div>
							<div><input type="radio" ng-model="chosen" value="F">{{choiceF}}</div>
						</div>
					</div>
					
				</div>
				<!-- It only shows up on mobile -->
				<!-- <div ng-click="changeFlash('prev')" class="pull-left previous">Previous</div> -->
				<!-- <div ng-click="changeFlash('next')" class="pull-right next">Next</div> -->
				<label class="">
				<!-- Enables the submit button when all the required fields have been validated -->
					<input name="submit" type="submit" class="btn" value="Submit">
				</label>
			</div>
		</div>
	</div>
	</form>

</div>