<div class="full-height">
	<!-- Navigation -->
	<nav class='navbar navbar-default' role='navigation'>
		<div class='navbar-inner'>
			<div class='container'>
				<div class="navbar-header">
					<a class='navbar-brand' ui-sref='home'>
						Vocab.me
					</a>
				</div>
			</div>
		</div>
	</nav>

	<!-- Content -->
	<div class="thanks">
		<div class="container text-center">
			<div class="row">
				<form method="post" name="feebackForm" ng-controller="FeedbackController as feedbackCtrl" ng-init="setFinishedCookies() && getVideos()" ng-submit="feedbackCtrl.submitKnownVideos() || feedbackCtrl.submitFeedback()" novalidate>
					<!-- There's a problem with the approach of having known video list on the feedback page
					        ... what if the users didn't want to send a feedback? -->
					<div class="col-sm-4">
						<h1>Videos</h1>
						<div class="line"></div>
						<ul>	
							<li ng-repeat="video in videoData" class="text-left">[{{$index+1}}] - {{video.NAME}} <input type="checkbox" checklist-model="videos.checked" checklist-value="video.NAME"></li>
						</ul>
					</div>
						<div class="col-sm-4">
							<h1>Thank You</h1>
							<div class="line"></div>
							<br>
							<div>
								<p align="justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat a justo ut ultricies. Suspendisse suscipit luctus mauris, eu bibendum tortor lacinia non. Ut porttitor risus et augue aliquet gravida. Nullam tincidunt dui at arcu tempor rutrum. Cras vel orci sit amet dui condimentum laoreet id at nisi. Fusce sed tempus orci. Cras consequat ultrices mi, nec tempor urna consectetur non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam eu ligula leo. Vivamus vulputate tellus at est gravida, sed mattis nibh sagittis. Vivamus et ex in ligula imperdiet vehicula sed eget sem.</p>
							</div>
						
							<textarea class="form-control" rows="10" placeholder="Your feedback here..." required style="background-color:white" ng-model="feedbackCtrl.textArea"></textarea>
							<input name="submitBtn" id="submitBtn" type="submit" class="btn btn-primary action-btn" style="margin-left:0" ng-disabled="!feedbackCtrl.textArea">
					</div>

					<div class="col-sm-4">
						<h1>Stick us</h1>
						<div class="line"></div>
						<br>
						<ul class="list-inline">
							<li><a href=""><i class="fa fa-2x fa-facebook"></i></a></li>
							<li><a href=""><i class="fa fa-2x fa-twitter"></i></a></li>
							<li><a href=""><i class="fa fa-2x fa-google-plus"></i></a></li>
							<li><a href=""><i class="fa fa-2x fa-pinterest"></i></a></li>
							<li><a href=""><i class="fa fa-2x fa-envelope"></i></a></li>
						</ul>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>