
<div class="full-height">
	<!-- Navigation -->
	<nav class='navbar navbar-default' role='navigation'>
		<div class='navbar-inner'>
			<div class='container'>
				<div class="navbar-header">
					<a class='navbar-brand' href='#/home'>
						StickMan Vocab
					</a>
				</div>
				<ul class='nav navbar-nav navbar-right'>
					<!-- <li><a class="yellow" href="#/guide">Back</a></li> -->
				</ul>
			</div>
		</div>
	</nav>

	<!-- Content -->
	<div class="video text-center container-fluid" ng-init="init()">
		<div class="row" ng-show="!showFlash">
			<div class="col-sm-2">
				<i class="pull-right fa fa-3x fa-chevron-left arrowButton" id="backward-btn" ng-click="changeVideo('prev')" ng-show="showTitle"></i>
			</div>
			<div class="col-sm-8">
				<div class="video-title" ng-show="showTitle">{{videoTitle}}</div>
				<div class="video-counter" ng-show="showTitle">Video {{videoIndex}} out of {{videoTotal}}</div>
				<div>
					<video controls id="video-id">
						<source src="" type="video/mp4" id="web-vid-src">
						<!-- We may want to think about different encodings later
						<source src="videos/01-exigent.ogg" type="video/ogg" id="mobile-vid-src">
						-->
						Your browser does not support the video tag.
					</video> 
				</div>
				<!-- It only shows up on mobile -->
				<div ng-click="changeVideo('prev')" class="pull-left previous">Previous</div>
				<div ng-click="changeVideo('next')" class="pull-right next">Next</div>
			</div>
			<div class="col-sm-2">
				<i class="pull-left fa fa-3x fa-chevron-right arrowButton" id="forward-btn"  ng-click="changeVideo('next')" ng-show="showTitle"></i>
			</div>
		</div>
		<div class="row" ng-show="showFlash">
			<div class="col-sm-2">
				<i class="pull-right fa fa-3x fa-chevron-left arrowButton" id="backward-btn" ng-click="changeFlash('prev')" ng-show="showTitle"></i>
			</div>
			<div class="col-sm-8">
				<div class="video-title">{{flashTitle}}</div>
				<div class="video-counter">Flash-card {{flashIndex}} out of {{flashTotal}}</div>
				<div class="card">
					<div class="flashcard-content">{{flashDefinition}}</div>
				</div>
				<!-- It only shows up on mobile -->
				<div ng-click="changeFlash('prev')" class="pull-left previous">Previous</div>
				<div ng-click="changeFlash('next')" class="pull-right next">Next</div>
			</div>
			<div class="col-sm-2">
				<i class="pull-left fa fa-3x fa-chevron-right arrowButton" id="forward-btn"  ng-click="changeFlash('next')"></i>
			</div>
		</div>
	</div>
	
</div>

