
<div ng-controller="windowCtrl" class="full-height">
	<!-- Navigation -->
	<nav class='navbar navbar-default' role='navigation'>
		<div class='navbar-inner'>
			<div class='container'>
				<div class="navbar-header">
					<a class='navbar-brand' ui-sref='home'>
						Vocab.me
					</a>
				</div>
				<ul class='nav navbar-nav navbar-right'>
					<li><a class="orange" ui-sref="guide">Back</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Content -->
	<div class="video text-center container" ng-controller="VideoURLController" ng-init="getVideoData()">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div>
					<h4 class="text-left">Question {{videoIndex}} out of {{total}}</h4>
				</div>
				<div>
					<h3 class="text-left">{{videoTitle}}</h3>
				</div>
				<div>
					<video controls id="video-id">
						<source src="" type="video/mp4" id="web-vid-src">
						<!-- We may want to think about different encodings later
						<source src="videos/01-exigent.ogg" type="video/ogg" id="mobile-vid-src">
						-->
						Your browser does not support the video tag.
					</video> 
				</div>
				<div>
					<ul class="list-inline">
						<li><a href=""><i class="pull-left fa fa-3x fa-step-backward" id="backward-btn" ng-click="changeVideo('prev')"></i></a></li>
						<li><a href=""><i class="pull-right fa fa-3x fa-step-forward" id="forward-btn"  ng-click="changeVideo('next')"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
</div>

